/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; 
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable defining */

:root{
    --font-family: vazir, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --color-primary-900: #4a6dff;
    --color-primary-800: #5c7cff;
    --color-primary-300: #b7c5ff;
    --color-secondary-900: #2a2d53;
    --color-secondary-800: #3f4264;
    --color-secondary-700: #555775;
    --color-secondary-600: #6a6c87;
    --color-secondary-300: #aaabba;
    --color-red-500: #ef4444;
}


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body{
    font: 400 1.6rem/1.75 var(--font-family);
    background-color: #f4f5f7;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

button{
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
}

/* helper classes */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.Hfull-Vful{
    width: 100%;
    height: 100%;
}

.mTop-mBottom{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.container{
    max-width: 128rem;
    margin: 0 auto;
}

.padding-container{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.cursor-pointer{
    cursor: pointer;
}

.border-radius-circle{ 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ml-svg{
    margin-left: .5rem;
}

.transition-bg-3s{
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

.transition-color-3s{
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.inactive{
    display: none;
}

.border-radius{
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}

/* container msg */

.total-container-msg, .total-container-calculations-and-courses{
    max-width: 102.4rem;
    margin: 7rem auto 12rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.msg-text{
    color: var(--color-secondary-700);
    font-weight: 600;
    margin-bottom: 1rem
} 

.msg-link{
    color: var(--color-primary-900);
    font-size: 1.8rem;
    font-weight: 800;
}

.msg-link:hover{
    color: var(--color-primary-800);
}

.total-container-calculations-and-courses{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 4rem;
}

.title-page{
    color: var(--color-secondary-800);
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.container-calculations-and-courses{
    display: flex;
    justify-content: space-between;
}

.total-container-courses{
    width: 64.8rem;
}

.container-course{
    background: #fff;
    margin-bottom: 2rem;
    padding: 2.8rem 3.6rem;
    width: 100%;
}

.container-course__cover{
    overflow: hidden;
    width: 11.2rem;
    height: 11.2rem;
    margin-left: 1.2rem;
    flex-shrink: 0;
}

.container-course__link-course{
    color: var(--color-secondary-700);
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 1.2rem;
}

.container-course__link-course:hover{
    color: #2563eb;
}

.container-teachers-name-and-teacher-svg{
    color: var(--color-secondary-600);
    font-size: 1.1rem;
}

.container-course__svg{
    width: 1.6rem;
    height: 1.6rem;
}

.container-course__course-price-without-off{
    color: #aaabba;
    font-size: 1.4rem;
} 

.container-course__discount-percent{
    background: #f43f5e;
    color: #fff;
    font-size: 1.2rem;
    padding: .1rem 1.2rem;
} 

.container-corse-price-and-toman-svg{
    width: fit-content;
    margin: 0 auto;
}

.container-corse__price{
    color: var(--color-primary-900);
    font-size: 2.4rem;
    font-weight: 900;
} 

.container-corse__toman-svg{
    color: var(--color-secondary-300);
    width: 2rem;
    height: 2rem;
}

.delete-course-btn{
    background: transparent;
    padding: .4rem;
    margin-right: 2.8rem;
    border: .1rem solid #f3f4f6;
} 

.delete-course-btn__svg{
    width: 2rem;
    height: 2rem;
    color: var(--color-red-500);
} 

.total-container-calculations{
    width: 30.4rem;
}

.container-calculations{
    background: #fff;
    padding: 2.4rem;
    width: 100%;
}

.payment-information-title, .container-discount-code, .container-sums{
    padding-bottom: 1.2rem;
    margin-bottom: 1.6rem;
    border-bottom: .1rem solid #e5e7eb;
}

.payment-information-title{
    color: var(--color-secondary-800);
    font-weight: 800;
}

.payment-information-title__svg{
    width: 2rem;
    height: 2rem;
}

.container-discount-code__label{
    color: var(--color-secondary-700);
    font-size: 1.5rem;
    font-weight: 300;
}

.container-discount-code__label:hover + .container-discount-code-input, .container-discount-code-input:hover{
    border-color: var(--color-primary-300);
}

.container-discount-code-input{
    background: #f3f4f6;
    padding: 1.2rem 1.6rem;
    border: .1rem solid #f3f4f6;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.container-discount-code-input.new-style{
    box-shadow: 0 12px 24px -8px var(--color-primary-300);
    background: #fff;
    border-color: var(--color-primary-300);
}

.container-discount-code-input__input{
    background: transparent;
    border: none;
    outline: none;
}

.apply-the-code-btn{
    background: var(--color-primary-900);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    padding: .4rem 1rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.apply-the-code-btn:hover, .payment-btn:hover{
    background: var(--color-primary-800);
}

.container-total-sum{
    margin-bottom: .8rem;
}

.sum-title, .off-title, .container-the-amount-payable__title{
    color: var(--color-secondary-700);
    font-size: 1.5rem;
    font-weight: 600;
} 

.total-sum, .total-off{
    font-weight: 500;
    font-size: 1.5rem;
}

.total-sum{
    color: var(--color-secondary-600);
}

.total-off{
    color: #f43f5e;
}

.container-the-amount-payable{
    margin-bottom: 2.4rem;
}

.container-the-amount-payable-info__price{
    color: var(--color-primary-900);
    font-size: 2rem;
    font-weight: 600;
} 

.container-the-amount-payable-info__svg{
    color: var(--color-secondary-300);
    width: 1.6rem;
    height: 1.6rem;
}

.payment-btn{
    box-shadow: 0 10px 15px -3px rgb( 183,197,255 ) ,0 4px 6px -4px rgb( 183,197,255 );
    background: var(--color-primary-900);
    color: #fff;
    padding: 1.2rem 1.6rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}

/* footer */

.footer-section{
    background: #e5e7eb;
    color: var(--color-secondary-600);
    padding: 3.2rem 1.6rem;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}

/* circle */

.circle{
    position: absolute;
    background: rgba(183, 197, 255, .3);
    animation: circleElm .2s linear;
    -webkit-animation: circleElm .2s linear;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* modal  */

.container-modal{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: -7rem;
    right: 50%;
    width: fit-content;
    height: fit-content;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.fa-check, .fa-close{
    display: inline-block;
    color: #fff;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-modal__message-modal{
    font-size: 1.4rem;
    font-weight: 200;
} 

.container-modal__line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .4rem;
}

/* loading */

.loading{
    display: none;
    padding: 1.8rem 0;
}

.apply-the-code-btn + .loading{
    padding: 1.1rem 0;
}

.loading.active{
    display: flex;
}

.loading__circle{
    display: inline-block;
    background: var(--color-primary-900);
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: sacle1Toscale13 .5s ease-in-out alternate infinite;
    -webkit-animation: sacle1Toscale13 .5s ease-in-out alternate infinite;
}

.payment-btn + .loading .loading__circle{
    width: 1.3rem;
    height: 1.3rem;
}

.loading__circle--mid{
    margin: 0 .25rem;
    animation: sacle13Toscale1 .5s ease-in-out alternate infinite;
    -webkit-animation: sacle13Toscale1 .5s ease-in-out alternate infinite;
}

.payment-btn + .loading .loading__circle--mid{
    margin: 0 .5rem;
}

@keyframes modalAnimation{
    0%{
        top: -4rem;
    }

    5%{
        top: .5rem;
    }

    99%{
        top: .5rem;
    }

    100%{
        top: -4rem;
    }
}

@keyframes modalIconAnimation{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@keyframes modalLineAnimation{
    0%{
        left: 0;
        right: 0;
    }

    100%{
        right: 50%;
        left: 50%;
    }
}

@keyframes circleElm{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@keyframes featuresCoursesAnimation {
    0%{
        scale: 1;
    }

    20%{
        scale: 1.02;
    }

    100%{
        scale: 1;
    }
}

@keyframes sacle1Toscale13{
    0%{
        scale: 1;
        opacity: .7;
    }

    100%{
        scale: 1.3;
        opacity: 1;
    }
}

@keyframes sacle13Toscale1{
    0%{
        opacity: 1;
        scale: 1.3;
    }
    
    100%{
        opacity: .7;
        scale: 1;
    }
}

@media (max-width: 1279px){
    .container{
        max-width: 102.4rem;
    }
}

@media (max-width: 1066px){
    .container{
        max-width: 78rem;
    }

    .container-calculations-and-courses{
        flex-direction: column;
    }

    .total-container-courses, .total-container-calculations {
        width: 100%;
    }
    
    .container-course__cover{
        width: 6.4rem;
        height: 6.4rem;
    }

    .container-calculations {
        padding: 1.2rem;
    }

}

@media (max-width: 810px){
    *{
        cursor: default !important;
    }
    
    .container{
        max-width: 60.8rem;
    }

    .total-container-msg{
        margin: 7rem auto 4rem;
    }

    .container-course__link-course {
        font-size: 1.4rem;
    }
}

@media (max-width: 639px){
    .container-course {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.2rem;
    }

    .container-course-price-and-delete-btn{
        flex-direction: row-reverse;
        align-self: flex-end;
    }

    .container-corse__price {
        font-size: 1.6rem;
    }

    .delete-course-btn, .container-course-price-and-delete-btn .loading{
        margin: 0 0 0 2.8rem;
    }

}