* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; 
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable defining */

:root{
    --font-family: vazir, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --color-primary-900: #4a6dff;
    --color-primary-800: #5c7cff;
    --color-primary-700: #6e8aff;
    --color-primary-600: #8099ff;
    --color-primary-500: #92a7ff;
    --color-primary-400: #a4b6ff;
    --color-primary-300: #b7c5ff;
    --color-primary-200: #c9d3ff;
    --color-primary-100: #dbe2ff;
    --color-primary-50: #e4e9ff;
    --color-secondary-900: #2a2d53;
    --color-secondary-800: #3f4264;
    --color-secondary-700: #555775;
    --color-secondary-600: #6a6c87;
    --color-secondary-500: #7f8198;
    --color-secondary-400: #9496a9;
    --color-secondary-300: #aaabba;
    --color-secondary-200: #bfc0cb;
    --color-secondary-100: #d4d5dd;
    --color-secondary-50: #dfdfe5;
    --color-fill: #4338ca;
    --color-text-muted: #9496a9;
    --color-text-inverted: #ffffff;
    --color-button-primary-hover: #6e8aff;
    --color-button-muted: #dfdfe5;
    --color-icon-secondary-dkst: #2a2d53;
    --color-icon-secondary-dk: #555775;
    --color-icon-secondary-lt: #7f8198;
    --color-success: #00c073;
    --color-warning: #ff9900;
    --color-error: #ff4757;
    --color-red-500: #ef4444;
    --color-red-300: #fca5a5;
    --scroll-primary: #efefef;
    --scroll-secondary: #ccc;
}


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body{
    font: 400 1.6rem/1.75 var(--font-family);
    background-color: #f4f5f7;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

/* helper classes */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.Hfull-Vful{
    width: 100%;
    height: 100%;
}

.mTop-mBottom{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.container{
    max-width: 128rem;
    margin: 0 auto;
}

.padding-container{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.cursor-pointer{
    cursor: pointer;
}

.border-radius-circle{ 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ml-svg{
    margin-left: .5rem;
}

.transition-bg-3s{
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

.transition-color-3s{
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

/* filter */

.filter-section{
    margin: 10rem 0;
}

.title-page{
    color: var(--color-secondary-800);
    font-size: 2.4rem;
    font-weight: 900;
}

.container-filter-and-courses{
    display: flex;
    justify-content: space-between;
    padding-top: 4.8rem;
}

.filter-wrapper{
    width: 26.2rem;
    flex-shrink: 0;
}

.container-filter{
    overflow: hidden;
    background: #fff;
    padding: 1.6rem;
    height: 6rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.filter-course-category{
    margin: 2rem 0;
}

.svg-filter, .mobile-filter__svg{
    width: 2rem;
    height: 2rem;
}

.title-filter{
    color: var(--color-secondary-800);
    font-weight: 500;
    margin-right: 1rem;
} 

.arrow-svg-filter{
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.active .arrow-svg-filter{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.menu-filter{
    border-top: .2rem solid #bec1f333;
    margin-top: 1.6rem;
    padding-top: 1.6rem;
}

.menu-filter__list-item{
    color: var(--color-secondary-600);
    font-size: 1.7rem;
    font-weight: 300;
}

.menu-filter__list-item:not(:last-child){
    margin-bottom: .7rem;
}

.check-box{
    width: 1.6rem;
    height: 1.6rem;
}

.total-container-mobile-filter{
    display: none;
}

.container-mobile-filter-courses, .container-mobile-ordering{
    width: 47%;
}

.mobile-filter__title-svg{
    color: var(--color-secondary-600);
    font-size: 1.7rem;
    font-weight: 500;
    border: .2rem solid var(--color-secondary-100);
    padding: .8rem 1.2rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.mobile-filter__svg{
    color: #9ca3af ;
}

.total-mobile-filter{
    background: rgba(31, 41, 55, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition-delay: .3s;
}

.up{
    opacity: 1;
    visibility: visible;
}

.mobile-filter{
    background: #f3f4f6;
    position: absolute;
    bottom: -42%;
    width: 100%;
    padding: 1.6rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    transition: bottom .6s;
    -webkit-transition: bottom .6s;
    -moz-transition: bottom .6s;
    -ms-transition: bottom .6s;
    -o-transition: bottom .6s;
}

.up .mobile-filter{
    bottom: 0;
    transition-delay: .75s;
}

.mobile-filter__title{
    color: #000000de;
    font-size: 1.5rem;
    width: calc(100% - 2rem);
    text-align: center;
}

.mobile-filters{
    margin: 5rem 0 3rem;
}

.apply-filter-btn{
    background: var(--color-primary-900);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    padding: 1rem 2.4rem;
    margin-bottom: 1.6rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.courses-wrapper{
    width: calc(100% - 27.8rem);
}

.container-courses{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.course{
    width: 100%;
    max-width: 31rem;
}

.course.active{
    display: block;
}

.course.inactive{
    display: none;
}

.msg{
    color: var(--color-error);
}
/* footer */

.footer-section{
    background: #e5e7eb;
    color: var(--color-secondary-600);
    padding: 3.2rem 1.6rem;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}

/* circle */

.circle{
    position: absolute;
    background: rgba(183, 197, 255, .3);
    animation: circleElm .2s linear;
    -webkit-animation: circleElm .2s linear;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* modal  */

.container-modal{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: -7rem;
    right: 50%;
    width: fit-content;
    height: fit-content;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.fa-check, .fa-close{
    display: inline-block;
    color: #fff;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-modal__message-modal{
    font-size: 1.4rem;
    font-weight: 200;
} 

.container-modal__line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .4rem; 
}

@keyframes modalAnimation{
    0%{
        top: -4rem;
    }

    5%{
        top: .5rem;
    }

    99%{
        top: .5rem;
    }

    100%{
        top: -4rem;
    }
}

@keyframes modalIconAnimation{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@keyframes modalLineAnimation{
    0%{
        left: 0;
        right: 0;
    }

    100%{
        right: 50%;
        left: 50%;
    }
}

@keyframes circleElm{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@media (max-width: 1278px){
    .container{
        max-width: 102.4rem;
    }
}

@media (max-width: 1066px){
    .container{
        max-width: 78rem;
    }

    .courses-wrapper {
        width: 100%;
        margin-top: 3rem;
    }
}

@media (max-width: 810px){
    *{
        cursor: default !important;
    }
    
    .container{
        max-width: 60.8rem;
    }

    .container-filter-and-courses{
        flex-direction: column;
        padding-top: 2rem;
    }

    .filter-wrapper{
        width: 100%;
    }

    .total-container-desktop-filter{
        display: none;
    }

    .total-container-mobile-filter{
        display: flex;
    }
}

@media (max-width: 420px){
    .total-container-mobile-filter {
        flex-direction: column;
    }

    .container-mobile-filter-courses, .container-mobile-ordering {
        width: 100%;
    }

    .mobile-filter__title-svg:first-child{
        margin-bottom: 1rem;
    }
}