/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; 
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable defining */

:root{
    --font-family: vazir, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --color-primary-900: #4a6dff;
    --color-primary-800: #5c7cff;
    --color-primary-300: #b7c5ff;
    --color-secondary-900: #2a2d53;
    --color-secondary-800: #3f4264;
    --color-secondary-700: #555775;
    --color-secondary-600: #6a6c87;
}


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body{
    font: 400 1.6rem/1.75 var(--font-family);
    background-color: #f4f5f7;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

/* helper classes */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.Hfull-Vful{
    width: 100%;
    height: 100%;
}

.mTop-mBottom{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.container{
    max-width: 128rem;
    margin: 0 auto;
}

.padding-container{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.cursor-pointer{
    cursor: pointer;
}

.border-radius-circle{ 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ml-svg{
    margin-left: .5rem;
}

.transition-bg-3s{
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

.transition-color-3s{
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.wrapper-svg-and-title{
    margin-bottom: 3.2rem;
}

.wrapper-svgs{
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-left: 3rem;
}

.svg-big{
    width: 100%;
    height: 100%;
} 

.svg-little{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 4.4rem;
    height: 4.4rem;
    stroke: #fff;
}

.title{
    color: var(--color-secondary-900);
    font-size: 3.2rem;
    font-weight: 900;
}

.text{
    color: var(--color-secondary-900);
    font-weight: 200;
    margin-right: 3.2rem;
}

/* banner */

.banner-svg-bg{
    position: absolute;
    left: 0;
    top: 0;
}

.total-container-banner{
    margin: 12rem auto 11.2rem;
    max-width: 99.2rem;
}

.banner-wrapper-right{
    width: 42.45rem;
}

.container-event{
    color: #fff;
    font-size: 1.3rem;
}

.container-event__title{
    background: var(--color-primary-900);
    font-weight: 300;
    padding: .2rem .5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.container-event__title:hover{
    background: #334cb2;
}

.container-event__time{
    color: var(--color-primary-900);
    font-weight: 200;

}

.banner-title{
    color: var(--color-secondary-900);
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.6;
    margin: 1.6rem 0 2rem;
}

.banner-desc{
    color: #9ca3af;
    font-size: 1.8rem;
    font-weight: 300;
    padding-bottom: .8rem;
    border-bottom: .2rem solid #bec1f333;
    margin-bottom: 2.8rem;
}

.container-banner-lets-go__link{
    background: var(--color-primary-900);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.6rem 3.6rem;
    box-shadow: 0 1rem 1.5rem -.3rem var(--color-primary-300),0 .4rem .6rem -.4rem var(--color-primary-300), 0rem .4rem 4.4rem 0rem #4A6DFF66;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
}

.container-banner-lets-go__link:hover, .courses-wrapper-right__all-courses-link:hover{
    background: var(--color-primary-800);
}

.container-banner-lets-go__student-info{
    margin-right: 2.5rem;
}

.container-banner-lets-go__student-pics{
    position: relative;
    width: 10.2rem;
    height: 4rem;
}

.container-banner-lets-go__student-pic{
    position: absolute;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: .2rem solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-banner-lets-go__student-pic1{
    background: url(../imgs/saheb.png)center/cover;
    right: 0;
    z-index: 8;
} 

.container-banner-lets-go__student-pic2{
    background: url(../imgs/user3.jpeg)center/cover;
    right: 2.8rem;
    z-index: 7;
} 

.container-banner-lets-go__student-pic3{
    background: url(../imgs/user1.jpeg)center/cover;
    right: 5.6rem;
    z-index: 6;
} 

.container-banner-lets-go__student-pic4{
    background: url(../imgs/user2.jpeg)center/cover;
    right: 8.2rem;
    z-index: 5;
    border-color: #f4f5f7;
}

.container-banner-lets-go__container-number-of-student{
    color: var(--color-secondary-800);
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: .4rem;
}

.container-banner-lets-go__number-of-student{
    color: var(--color-primary-900);
    font-size: 1.4rem;
}

.container-banner-lets-go__svg{
    width: 1.2rem;
    height: 1.2rem;
}

.container-banner-lets-go__arrow-svg{
    width: 2.4rem;
    height: 6.4rem;
    margin-right: calc(100% - 2.4rem);
}

.container-banner__cover{
    position: relative;
    max-width: 44.64rem;
    max-height: 44.64rem;
}

.container-banner__cover-filter{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 37%, #F4F5F7 93%);
    height: 19.2rem;
}

.container-banner__cover-arrow-svg{
    display: none;
    color: rgb(209, 213, 219);
    position: absolute;
    left: 0;
    bottom: -3.6rem;
    width: 1.6rem;
    height: 4.3rem;
}

/* features of courses */

.total-container-features-of-courses{
    max-width: 124.8rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-features-of-courses{
    width: 22rem;
    flex-direction: column;
    flex-grow: 1;
    padding: 3.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.container-features-of-courses:hover{
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(209,213,219,.5),0 4px 6px -4px rgba(209,213,219,.5);
    animation: featuresCoursesAnimation .3s ease-in-out 1;
    -webkit-animation: featuresCoursesAnimation .3s ease-in-out 1;
}

.container-features-of-courses__container-svgs{
    position: relative;
    height: 7.528rem;
    margin-bottom: 1.5rem;
}

.container-features-of-courses__svg1{
    width: 7.528rem;
    height: 7.528rem;
}

.container-features-of-courses__svg2{
    color: #fff;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3.5rem;
    height: 3.5rem;
}

.container-features-of-courses__desc{
    color: #000000de;
    font-size: 1.4rem;
    font-weight: 700;
}

/* courses */

.total-container-courses{
    background: linear-gradient(270deg, rgb(233, 236, 239) 0%, rgb(244, 245, 247) 100%);
    box-shadow: -6px -8px 27px 5px rgba(209,213,219,.4);
    margin: 11.2rem auto 8rem;
    max-width: 124.8rem;
    padding: 3.2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.courses-wrapper-right{
    position: relative;
    width: 25.2rem;
    align-self: flex-end;
}

.courses-wrapper-right__code-svg{
    position: absolute;
    bottom: 6.9rem;
    right: .5rem;
    width: 17.6rem;
    height: 17.6rem;
    opacity: .1;
}

.courses-wrapper-right__title{
    color: var(--color-secondary-800);
    font-size: 3.6rem;
    font-weight: 800;
}

.courses-wrapper-right__text{
    color: var(--color-secondary-800);
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.courses-wrapper-right__all-courses-link{
    background-color: var(--color-primary-900);
    box-shadow: 0 10px 15px -3px rgb( 183,197,255 ) ,0 4px 6px -4px rgb( 183,197,255 );
    color: #fff;
    padding: 1.2rem 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.courses-wrapper-left{
    width: calc(100% - 29.2rem);
    margin-right: 4rem;
}

.swiper-wrapper .swiper-slide-new-style{
    max-width: 31rem !important;
} 

/* past */

.container-past{
    max-width: 124.8rem;
    margin: 11.2rem auto 8rem;
}

.past-wrapper-left{
    width: 68.4rem;
}

.container-statistics{
    background: #fff;
    color: var(--color-secondary-700);
    box-shadow: 0 10px 15px -3px rgba(209,213,219,.3) ,0 4px 6px -4px rgba(209,213,219,.3);
    padding: 1.2rem;
    width: 33%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
}
.container-statistics:hover{
    scale: 1.2;
    box-shadow: 0 10px 15px -3px rgba( 183,197,255 ,0.5) ,0 4px 6px -4px rgba( 183,197,255 ,0.5);
    color: var(--color-primary-900);
}

.container-statistics:nth-child(even){
    margin: 0 3rem;
}

.container-statistics__svg{
    width: 2rem;
    height: 2rem;
}

.container-statistics__statistic{
    font-size: 2.4rem;
    font-weight: 900;
}

.container-statistics__text{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

/* frontEnd roadmap */

.section-froentend-roadmap{
    margin-bottom: 10rem;
}

.total-container-froentend-roadmap{
    text-align: center;
}

.froentend-roadmap-title{
    color: var(--color-secondary-900);
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: .8rem;
} 

.froentend-roadmap-link{
    color: var(--color-secondary-700);
    font-weight: 600;
}

.froentend-roadmap-link:hover{
    color: var(--color-primary-900);
}

.container-froentend-roadmap-steps{
    max-width: 99.4rem;
    padding: 4rem;
    margin: 0 auto;
}

.container-froentend-roadmap-steps__container-step{
    position: relative;
}

.container-froentend-roadmap-steps__container-step-svg{
    position: relative;
    background: #fff;
    box-shadow: 0px 17px 19px 0px rgba(85, 87, 117, 0.091);
    width: 9rem;
    height: 9rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.container-froentend-roadmap-steps__container-step--1:hover .container-froentend-roadmap-steps__container-step-svg{
    box-shadow: 0px 17px 19px 0px rgba(255, 0, 0, 0.091);
}

.container-froentend-roadmap-steps__container-step--2:hover .container-froentend-roadmap-steps__container-step-svg{
    box-shadow: 0px 17px 19px 0px rgba(255, 221, 0, 0.091);
}

.container-froentend-roadmap-steps__container-step--3:hover .container-froentend-roadmap-steps__container-step-svg{
    box-shadow: 0px 17px 19px 0px rgb(252, 37, 37, 0.091);
}

.container-froentend-roadmap-steps__container-step--4:hover .container-froentend-roadmap-steps__container-step-svg{
    box-shadow: 0px 17px 19px 0px rgba(0, 157, 255, 0.091);
}

.container-froentend-roadmap-steps__container-step--5:hover .container-froentend-roadmap-steps__container-step-svg{
    box-shadow: 0px 17px 19px 0px rgba(0, 191, 255, 0.091);
}

.container-froentend-roadmap-steps__container-step--6:hover .container-froentend-roadmap-steps__container-step-svg{
    box-shadow: 0px 17px 19px 0px rgba(0, 0, 0, 0.091);
}

.container-froentend-roadmap-steps__logo{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 4rem;
    height: 4rem;
    fill: var(--color-secondary-700);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.container-froentend-roadmap-steps__container-step--1:hover .container-froentend-roadmap-steps__logo{
    fill: rgb(255, 0, 0);
} 

.container-froentend-roadmap-steps__container-step--2:hover .container-froentend-roadmap-steps__logo{
    fill: rgb(255, 221, 0);

} 

.container-froentend-roadmap-steps__container-step--3:hover .container-froentend-roadmap-steps__logo{
    fill: rgb(252, 37, 37);

}  

.container-froentend-roadmap-steps__container-step--4:hover .container-froentend-roadmap-steps__logo{
    fill: rgb(0, 157, 255);

} 

.container-froentend-roadmap-steps__container-step--5:hover .container-froentend-roadmap-steps__logo{
    fill: rgb(0, 191, 255);

} 

.container-froentend-roadmap-steps__container-step--6:hover .container-froentend-roadmap-steps__logo{
    fill: rgb(0, 0 ,0);

}

.container-froentend-roadmap-steps__title{
    display: inline-block;
    color: var(--color-secondary-700);
    font-weight: 600;
    margin-top: 1rem;
}

.container-froentend-roadmap-steps__container-step--1:hover .container-froentend-roadmap-steps__title{
    color: rgb(255, 0, 0);
} 

.container-froentend-roadmap-steps__container-step--2:hover .container-froentend-roadmap-steps__title{
    color: rgb(255, 221, 0);
}

.container-froentend-roadmap-steps__container-step--3:hover .container-froentend-roadmap-steps__title{
    color: rgb(252, 37, 37);
}

.container-froentend-roadmap-steps__container-step--4:hover .container-froentend-roadmap-steps__title{
    color: rgb(0, 157, 255);
}

.container-froentend-roadmap-steps__container-step--5:hover .container-froentend-roadmap-steps__title{
    color: rgb(0, 191, 255);
}

.container-froentend-roadmap-steps__container-step--6:hover .container-froentend-roadmap-steps__title{
    color: rgb(0, 0 ,0);
}

.container-froentend-roadmap-steps__svg-arrow{
    position: absolute;
    width: 6.4rem;
    height: 5.8rem;
}

.container-froentend-roadmap-steps__container-step:nth-child(odd) .container-froentend-roadmap-steps__svg-arrow{
    left: -71%;
}

.container-froentend-roadmap-steps__container-step:nth-child(even) .container-froentend-roadmap-steps__svg-arrow{
    top: -4.5rem;
    left: -71%;
}

/* footer */

.footer-section{
    background: #e5e7eb;
    color: var(--color-secondary-600);
    padding: 3.2rem 1.6rem;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}

/* circle */

.circle{
    position: absolute;
    background: rgba(183, 197, 255, .3);
    animation: circleElm .2s linear;
    -webkit-animation: circleElm .2s linear;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* modal  */

.container-modal{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: -7rem;
    right: 50%;
    width: fit-content;
    height: fit-content;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.fa-check, .fa-close{
    display: inline-block;
    color: #fff;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-modal__message-modal{
    font-size: 1.4rem;
    font-weight: 200;
} 

.container-modal__line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .4rem;
}

@keyframes modalAnimation{
    0%{
        top: -4rem;
    }

    5%{
        top: .5rem;
    }

    99%{
        top: .5rem;
    }

    100%{
        top: -4rem;
    }
}

@keyframes modalIconAnimation{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@keyframes modalLineAnimation{
    0%{
        left: 0;
        right: 0;
    }

    100%{
        right: 50%;
        left: 50%;
    }
}

@keyframes circleElm{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@keyframes featuresCoursesAnimation {
    0%{
        scale: 1;
    }

    20%{
        scale: 1.02;
    }

    100%{
        scale: 1;
    }
}

@media (max-width: 1090px){
    .wrapper-svg-and-title {
        margin-bottom: 1.6rem;
    }

    .wrapper-svgs{
        width: 4.755rem;
        height: 4.755rem;
        margin-left: 1.5rem;
    }

    .svg-little{
        width: 2.8rem;
        height: 2.8rem;
    }

    .title{
        font-size: 2rem;
    }

    .text {
        color: var(--color-secondary-900);
        font-size: 1.2rem;
        margin-right: 2rem;
    }

    .past-wrapper-right{
        width: 22.5rem;
        flex-shrink: 0;
        margin-left: 1rem;
    }

    .swiper-wrapper .swiper-slide-new-style{
        max-width: 33rem !important;
    } 
}

@media (max-width: 1066px){
    .banner-wrapper-right{
        width: 34.1rem;
    }

    .banner-title{
        font-size: 4rem;
    }
    
    .courses-wrapper-right__code-svg{
        display: none;
    }

    .courses-wrapper-right__container-descriptions{
        text-align: center;
    }

    .courses-wrapper-right__title {
        font-size: 3rem;
    }
}

@media (max-width: 928px){
    .container-froentend-roadmap-steps__svg-arrow{
        width: 3.8rem;
    }

    .container-statistics:nth-child(even) {
        margin: 0 1rem;
    }

    .container-froentend-roadmap-steps__container-step:nth-child(odd) .container-froentend-roadmap-steps__svg-arrow, .container-froentend-roadmap-steps__container-step:nth-child(even) .container-froentend-roadmap-steps__svg-arrow{
        left: -50%;
    }
}

@media (max-width: 810px){
    *{
        cursor: default !important;
    }

    .banner-svg-bg, .container-banner-lets-go__arrow-svg{
        display: none;
    }    

    .total-container-banner{
        flex-direction: column-reverse;
    }

    .container-banner__cover{
        max-width: 48.4rem;
        max-height: 48.4rem;
    }

    .banner-wrapper-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        text-align: center;
    }

    .banner-title{
        font-size: 3rem;
        margin-bottom: .8rem;
    }

    .banner-desc{
        font-size: 1.2rem;
        padding-bottom: 2.4rem;
        margin-bottom: 1.6rem;
    }

    .container-banner-lets-go{
        flex-direction: column;
    }

    .container-banner-lets-go__student-info{
        margin-right: 0;
    }

    .container-banner-lets-go__link{
        padding: 1rem 3.2rem;
        margin-bottom: 1.5rem;
    }

    .container-banner-lets-go__student-pics {
        height: 3.2rem;
    }

    .container-banner-lets-go__student-pic{
        width: 3.2rem;
        height: 3.2rem;
    }
    
    .container-banner-lets-go__student-pic2{
        right: 2.4rem;
    } 
    
    .container-banner-lets-go__student-pic3{
        right: 4.8rem;
    } 
    
    .container-banner-lets-go__student-pic4{
        right: 7.2rem;
    }

    .container-banner-lets-go__container-number-of-student{
        width: fit-content;
        margin: .4rem auto 0;
    }

    .container-banner__cover-arrow-svg{
        display: inline;
    }

    .total-container-features-of-courses, .total-container-courses, .container-past, .container-froentend-roadmap-steps{
        max-width: 64rem;
    }

    .total-container-courses{
        flex-direction: column;
        padding: 1.5rem;
        margin: 8rem auto;
    }

    .courses-wrapper-right{
        align-self: center;
        margin-bottom: 4rem;
    }

    .courses-wrapper-left {
        width: 100%;
        margin-right: 0;
    }

    .container-past{
        flex-direction: column;
        align-items: flex-start;
        margin: 8rem auto;
    }

    .past-wrapper-right {
        margin: 0 0 3rem 0;
    }

    .past-wrapper-left {
        width: 100%;
    }

    .total-container-statistics{
        flex-wrap: wrap;
    }

    .container-statistics{
        width: 100%;
    }

    .container-statistics:nth-child(even){
        margin: 3rem 0;
    }

    .section-froentend-roadmap{
        margin-bottom: 8rem;
    }

    .froentend-roadmap-title{
        font-size: 2rem;
        margin-bottom: .4rem;
    }

    .froentend-roadmap-link{
        font-size: 1.4rem;
    }

    .container-froentend-roadmap-steps{
        padding: 3.2rem 1.6rem;
        overflow-x: scroll;
    }

    .container-froentend-roadmap-steps__container-step{
        margin: 0 3rem;
    }

    .container-froentend-roadmap-steps__container-step-svg{
        width: 8rem;
        height: 8rem;
        border-radius: 3.5rem;
        -webkit-border-radius: 3.5rem;
        -moz-border-radius: 3.5rem;
        -ms-border-radius: 3.5rem;
        -o-border-radius: 3.5rem;
    }

    .container-froentend-roadmap-steps__icon{
        width: 3.6rem;
        height: 3.6rem;
    }

    .container-froentend-roadmap-steps__svg-arrow{
        width: 6.4rem;
        height: 5.8rem;
    }

    .container-froentend-roadmap-steps__container-step:nth-child(odd) .container-froentend-roadmap-steps__svg-arrow, .container-froentend-roadmap-steps__container-step:nth-child(even) .container-froentend-roadmap-steps__svg-arrow{
        left: -71%;
    }
}

@media (max-width: 640px){
    .banner-wrapper-right {
        width: 24.3rem;
    }

    .banner-title{
        font-size: 2.4rem;
    }

    .banner-wrapper-left{
        margin: 0 5rem;
    }
}

@media (max-width: 500px){
    .swiper-wrapper .swiper-slide-new-style{
        max-width: 100% !important;
    } 

    .total-container-courses{
        margin: 8rem 0;
    }
}