/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; 
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable defining */

:root{
    --font-family: vazir, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --color-primary-900: #4a6dff;
    --color-primary-800: #5c7cff;
    --color-primary-300: #b7c5ff;
    --color-secondary-900: #2a2d53;
    --color-secondary-800: #3f4264;
    --color-secondary-700: #555775;
    --color-secondary-600: #6a6c87;
    --color-red-500: #ef4444;
    --color-success: #00c073;
    --color-border: #e5e7eb;
}


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body{
    font: 400 1.6rem/1.75 var(--font-family);
    background-color: #fff;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

/* helper classes */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.Hfull-Vful{
    width: 100%;
    height: 100%;
}

.mTop-mBottom{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.padding-container{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.cursor-pointer{
    cursor: pointer;
}

.border-radius-circle{ 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.border-radius{
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}

.ml-svg{
    margin-left: .5rem;
}

.transition-bg-3s{
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

.transition-color-3s{
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.inactive{
    display: none;
}

/* main */

.main{
    display: flex;
}

/* aside */

.aside{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 24rem;
    background: #fff;
    padding: 3.2rem 2rem 2rem;
}

.total-container-aside-cover-link{
    border-bottom: .1rem solid #cbd5e1;
    margin-bottom: 2rem;
    padding-bottom: .8rem;
}

.logo-svg{
   color: var(--color-primary-900); 
} 

.cross-svg{
    display: none;
    color: var(--color-secondary-700);
}

.cross-svg, .aside-menu__svg,  .mobile-user-panel-profile__svg, .edit-user-panel__svg, .guide-to-using-course-licenses__svg{
    width: 2rem;
    height: 2rem;
}

.container-menu-and-user-panel{
    height: calc(100% - 7.4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-menu{
    max-height: 19.1rem;
    overflow-y: scroll;
}

.aside-menu__list.active{
    background: #dbe2ff66;
}  

.aside-menu__btn{
    color: var(--color-secondary-700);
    font-size: 1.7rem;
    font-weight: 300;
    word-spacing: .2rem;
    padding: .9rem 1.6rem;
} 

.aside-menu__list.active .aside-menu__btn{
    font-weight: 600;
}

.aside-menu__btn:hover, .all-courses-link:hover, .guide-to-using-course-licenses:hover{
    color: var(--color-primary-900);
}

.aside-menu__btn--logout:hover{
    color: var(--color-red-500);
}

.total-container-user-panel{
    width: calc(100% - 0rem);
    margin-top: 2rem;
} 

.container-user-panel-cover-link{
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    border: 0.2rem solid #cecece;
    margin-left: 0.8rem;
}

.container-user-panel-cover-link::after, .container-user-panel-cover-link::before{
    content: '';
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container-user-panel-cover-link::before {
    animation: profileFade .9s linear infinite;
    -webkit-animation: profileFade .9s linear infinite;
}

.container-user-panel-cover-link::after {
    animation: profileAnimation .9s linear infinite;
    -webkit-animation: profileAnimation .8s linear infinite;
}

.container-user-panel-username{
    font-size: 1.4rem;
    color: var(--color-secondary-700);
} 

.container-user-panel-username__name{
    color: var(--color-secondary-700);
    font-weight: 600;
} 

.edit-user-panel{
    color: var(--color-secondary-700);
    padding: 0.8rem;
    width: 3.6rem;
    height: 3.6rem;
} 

.edit-user-panel:hover{
    background: #0000000a;
}

/* header */

.container-header-and-main-content{
    padding: 8rem 24rem 0 0;
    width: 100%;
}

.total-container-header{
    position: fixed;
    left: 0;
    right: 24rem;
    top: 0;
    background: #fff;
    padding: 2rem 3.2rem;
}

.btn-menu-hamburger{
    display: none;
    background: transparent;
    width: 4.8rem;
    height: 4.8rem;
    margin-left: 1.5rem;
}

.btn-menu-hamburger:hover{
    background: #4a6dff0a;
}

.btn-menu-hamburger__svg{
    width: 3.2rem;
    height: 3.2rem;
}

.container-header-title-and-time__text{
    color: var(--color-secondary-700);
    font-size: 2rem;
    font-weight: 600;
} 

.container-header-title-and-time__time{
    color: #7f8198;
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: .2rem solid var(--color-border);
}

.cart, .user-profile-link{
    position: relative;
    width: 4rem;
    height: 4rem;
    border: .1rem solid #cecece;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
}

.cart:hover, .user-profile-link:hover{
    background: #4a6dff0a;
}

.cart__number-of-order{
    background: #f44336;
    color: #fff;
    position: absolute;
    top: -1rem;
    right: -.5rem;
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    padding: .15rem 0;
}

.cart__link{
    padding: 0.6rem;
    border-radius: 1.7rem;
}

.cart__svg, .user-profile-link__svg{
    color: var(--color-secondary-700);
    width: 2.4rem;
    height: 2.4rem;
}

.user-profile-link{
    margin-right: 2rem;
}

/* main content */

.total-container-main-content{
    display: none;
    background: #f4f5f7;
    position: fixed;
    top: 8rem;
    height: calc(100% - 8rem);
    width: calc(100% - 24rem);
    border-top-right-radius: 3rem;
}

.container-main-content{
    overflow-y: scroll;
    padding: 4rem 4rem 0 4rem;
    height: calc(100% - 4rem);
}

.container-welcome{
    background: #fff;
    color: var(--color-secondary-700);
    box-shadow: 0 10px 15px -3px #f3f4f6 ,0 4px 6px -4px #f3f4f6;
    max-width: 57.6rem;
    padding: 2.4rem;
    margin-bottom: 3.2rem;
}

.container-welcome__username{
    font-size: 2rem;
    font-weight: 900;
}

.container-welcome__msg{
    font-weight: 300;
}

/* my records */

.total-container-my-records{
    border-bottom: .1rem solid  var(--color-border);
    padding-bottom: 3.2rem;
    margin-bottom: 3.2rem;
}

.my-records-title, .total-container-my-latest-orders__title, .container-my-successful-orders__title, .container-my-courses{
    color: var(--color-secondary-700);
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: .8rem;
}

.container-my-records{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: 2.4rem;
} 

.my-records-wrapper{
    background: #fff;
    padding: 2.4rem;
    width: 100%;
    transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
}

.my-records-wrapper:hover{
    box-shadow: 0 20px 25px -5px var(--color-border) ,0 8px 10px -6px var(--color-border);
}

.my-records-wrapper__container-svg{
    width: 4.4rem;
    height: 4.4rem;
    padding: .8rem;
    margin-left: 1.5rem;
}

.my-records-wrapper__container-svg--date{
    background: #64748b;
}

.my-records-wrapper__container-svg--course{
    background: #3b82f6;
}

.my-records-wrapper__container-svg--order{
    background: #22c55e;
}

.my-records-wrapper__svg{
    color: #fff;
    width: 2.8rem;
    height: 2.8rem;
}

.my-records-wrapper__title{
    color: #9496a9;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: .4rem;
}

.my-records-wrapper__date, .my-records-wrapper__courses, .my-records-wrapper__orders{
    color: var(--color-secondary-700);
    font-size: 1.5rem;
    font-weight: 600;
}

/* my latest orders */

.total-container-my-latest-orders__title, .container-my-successful-orders__title, .container-my-courses__title{
    margin-bottom: 0;
}

.all-courses-link{
    color: var(--color-secondary-700);
    font-size: 1.4rem;
    font-weight: 600;
}

.all-courses-link__svg{
    margin-right: .5rem;
}

.warning-profile, .warning-orders, .warning-courses{
    display: none;
}

.warning-profile.active, .warning-orders.active, .warning-courses.active{
    display: block;
}

.warning-profile__title{
    color: var(--color-secondary-700);
    font-weight: 300;
    margin: 1.6rem 0 1.2rem;
} 

.warning-profile__link, .warning-orders__link, .warning-courses__link{
    color: var(--color-primary-900);
    font-size: 1.8rem;
    font-weight: 700;
}

.warning-profile__link:hover, .warning-orders__link:hover, .warning-courses__link{
    color: var(--color-primary-800);
}

/* table */

.container-table{
    margin-top: 1.6rem;
}

.table{
    display: block;
    border: .1rem solid var(--color-border);
}

.thead, .tbody{
    display: block;
}

.thead__tr{
    border-bottom: .1rem solid var(--color-border);
}

.thead__th{
    text-align: center;
    color: #94a3b8;
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    padding: 3.2rem 0;
}

.thead__th:not(:last-child), .tbody__td:not(:last-child){
    border-left: .1rem solid var(--color-border);
}

.tbody__td{
    height: 8rem;
}

.tbody__tr:not(:first-child){
    border-top: .1rem solid var(--color-border);
}

.tbody__td{
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    padding: 1rem 0;
    color: #64748b;
}

.thead__th--row, .tbody__td--row{
    width: 15%;
}

.thead__th--price, .tbody__td--price{
    width: 40%;
}

.thead__th--date, .tbody__td--date{
    width: 70%;
}

.thead__th--status, .tbody__td--status{
    width: 40%;
}

.course-img{
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
}

.course-name{
    color: var(--color-secondary-600);
    font-size: 1.2rem;
    font-weight: 600;
}

.tbody__td--link{
    font-size: 1.4rem;
    font-weight: 300;
    color: #64748b;
}

.course-status{
    background: var(--color-success);
    color: #fff;
    font-weight: 300;
    padding: .2rem 1.2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* my successful orders */

.container-my-successful-orders__hint, .guide-to-using-course-licenses, .container-my-courses__hint{
    color: #7f8198;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1.2rem 0 .8rem;
}

.guide-to-using-course-licenses{
    font-weight: 500;
    margin: 0;
}

.warning-orders__title, .warning-courses__title{
    color: var(--color-secondary-700);
    font-size: 2.4rem;
    font-weight: 900;
}

/* my courses */

.tbody-orders .tbody__td{
    text-align: center;
    color: #64748b;
    font-size: 1.4rem;
}

.tbody__td--course-title{
    font-weight: 800;
}

.thead__th--access, .tbody__td--access{
    width: 56%;
}

.thead__th--channel-tel, .tbody__td--tel-channel{
    width: 59%;
}

.telegram-channel{
    background: var(--color-secondary-600);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .2rem .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.msg{
    color: var(--color-red-500);
    font-weight: 500;
}

/* circle */

.circle{
    position: absolute;
    background: rgba(183, 197, 255, .3);
    animation: circleElm .2s linear;
    -webkit-animation: circleElm .2s linear;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes profileAnimation{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.1;
    }
}

@keyframes profileFade{
    0%{
        scale: 1;
        opacity: 1;
    }

    100%{
        scale: 2.1;
        opacity: 0;
    }
}

@keyframes circleElm{
    0%{
        scale: 0;
    }

    100%{
        scale: 1;
    }
}

@media (max-width: 1279px){
    .aside {
        width: 32rem;
    }

    .container-header-and-main-content {
        padding-right: 32rem;
    }

    .total-container-header{
        right: 32rem;
    }

    .total-container-main-content{
        width: calc(100% - 32rem);
    }

    .container-table--my-courses{
        overflow-x: scroll;
    }

    .table--my-courses{
        min-width: 99rem !important;
    }

}

@media (max-width: 1023px){
    *{
        cursor:default !important;
    }

    .section-aside{
        background: #0000005f;
        position: fixed;
        inset: 0;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition-delay: .18s;
    }
    
    .section-aside.active{
        opacity: 1;
        visibility: visible;
    }

    .aside {
        position: absolute;
        right: -28rem;
        bottom: 0;
        width: 28rem;
        transition: right .3s;
        -webkit-transition: right .3s;
        -moz-transition: right .3s;
        -ms-transition: right .3s;
        -o-transition: right .3s;
    } 
    
    .section-aside.active .aside{
        right: 0;
        transition-delay: .3s; 
    }

    .total-container-aside-cover-link{
        justify-content: space-between;
    }

    .cross-svg{
        display: inline;
    }

    .container-header-and-main-content {
        padding-right: 0;
    }

    .total-container-header {
        padding: 2rem 1.6rem;
        right: 0;
    }

    .btn-menu-hamburger{
        display: flex;
    }

    .container-header-title-and-time{
        flex-direction: column;
        align-items: flex-start;
    }

    .container-header-title-and-time__text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1;
    }

    .container-header-title-and-time__time {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
    }

    .total-container-main-content{
        width: 100%;
    }

    .container-main-content{
        padding: 2.4rem 2.4rem 0 2.4rem;
        width: 100%;
        height: calc(100% - 2.4rem);
    }

    .container-welcome{
        padding: 1.2rem;
    }

    .my-records-title, .total-container-my-latest-orders__title, .container-my-successful-orders__title, .container-my-courses__title {
        font-size: 2rem;
    }

    .container-my-latest-orders-and-all-courses-link{
        flex-direction: column;
        align-items: flex-start;
    }

    .warning-orders__title, .warning-courses__title{
        font-size: 2rem;
    }
}

@media (max-width: 767px){
    .container-main-content{
        padding: 1.6rem 1.6rem 0 1.6rem;
        height: calc(100% - 1.6rem);
    }

    .container-my-records{
        grid-template-columns: 1fr;
    } 

    .my-records-wrapper {
        padding: 1.2rem;
    }

    .container-table{
        overflow-x: scroll;
    }

    .table{
        min-width: 80rem;
    }
}

@media (max-width: 328px){
    .container-header-title-and-time{
        display: none;
    }
}